.backgroundPhoto {
    text-align: center;
}

.backgroundPhoto img {
    width: 100%;
    height: 300px;
}

.descriptionWrapper {
    padding: 10px;
}

.descriptionWrapper img {
    width: 200px;
}

.contact {
    padding-left: 10px;
}